*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(57, 44, 122);
}



  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  .custom-btn {
    width: 330px;
    height: 40px;
    color: #fff;
    border-radius: 45px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
  .bord{
  padding: 0px 0px 0px 60px ;
  width: 400px;
  height: 700px;
  }
  .usertypes{
    width: 200px;
    
   
  }
  .usertypes-main{
    margin-left: 38px;
  }
.input_box{
  border-radius: 20px;
  width: 330px;
  background-color: #ffffff00;
  border: 1px solid whitesmoke;
  color: #fff;
  font-weight: bold;
}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.bttn2{
  width: 100px;
  background-color: rgb(71, 153, 235);
  border: 1px solid rgb(71, 153, 235);
  font-weight: bolder;
  color: #c0eafa;
  border-radius: 15px;
}
a:hover{
  border-bottom: 1px solid #fff;
  transform: 3s;
}

.login-amico{
  padding: 28px 70px 0px 350px; ;
  border-left: 1px solid #868686;
  /* box-shadow: 10px 10px 5px 12px lightblue; */
}

.welcome{
  font-size: 50px;
  padding: 350px 130px 0px 0px ;
  color: white;
  font-weight: bolder;
  letter-spacing: 10px;
}
.welcome2{
  font-size: 50px;
  padding: 400px 130px 0px 0px ;
  color: white;
  font-weight: bolder;
  letter-spacing: 10px;
}
