body{
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/view-natural-mountain-formation-with-dreamy-aesthetic_23-2151700231.jpg?t=st=1729054394~exp=1729057994~hmac=66e1e1e68630720f5684fd82c6dda832d12055438a238ae25daefd106ce2f5d8&w=1380);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maintext_container{
    font-size: 70px;
    color: white;
    font-weight: bold;
}
.bttn2{
    width: 100px;
    background-color: rgb(71, 153, 235);
    border: 1px solid rgb(71, 153, 235);
    font-weight: bolder;
    color: #c0eafa;
    border-radius: 15px;
  }