*{
    margin: 0;
    padding: 0;
}


.reset_container{
    padding: 200px 0px 0px 410px ;
}
.reset_containerSub{
    padding: 0px 0px 160px 403px ;
}
.reset_containerText{
    padding: 0px 0px 500px 390px ;
    text-align: center;
}
form{
    border: 5px double rgb(72, 72, 72);
    border-radius:20px ;
}
.reset_insidecontainer{
    width: 450px;
    height: 300px;
    padding: 90px 0px 50px 50px ;
}
.current{
    padding: 0px 0px 0px 30px ;
}
.new{
    padding: 0px 0px 0px 45px ;
}
input{
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 3px double black;
    border-radius: 20px;
}
#submit{
    width: 200px;
    background-color: rgb(255,115,92);
}